@font-face {
  font-family: Poppins;
  src: url(./Components/font/Poppins-Regular.ttf);
}


h1{
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 100px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
  color: rgba(0, 0, 0, 1);;
}



.container{
  width: 80%;
  margin: 0 auto;
  padding:  2rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color:rgba(255, 255, 255, 1);;
  box-shadow: 0 0 5px #ccc;
  margin-top: 100px;
  position: relative;
}


td{
  margin-top: 20px;
  text-align: center;
  color: rgba(41, 45, 50, 1);
}
.after::after{
  content: "";
  display: block;
  width: 1215px;
  height: 1px;
  position: absolute;
  background: rgba(238, 238, 238, 1);
  margin-left: -33px;
}
td::after{
  content: "";
  display: block;
  width: 253px;
  height: 1px;
  background: rgba(238, 238, 238, 1);
  margin-top: 10px;
  margin-left: -50.5px;
}